.login-page {
    width: 100vw;
    height: 100vh;
    padding-top: 6vw;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgba(0,211,255,1) 100%);
    
}

.card {
    width: 200px;
    position: relative;
    left: calc(50vw - 100px);
    text-align: center;
}

.title {
    padding-top: 32px;
    font-size: 22px;
    color: white;
    font-weight: 700;
}

input {
    width: calc(100% - 1px);
    margin-top: 12px;
    padding: 8px;
    border-radius: 5px;
    background-color: #e6f7ff;
    outline: none;
    border: 1px solid #e6f7ff;
}

button {
    margin-top: 12px;
    width: cal(100% - 1px);
    padding: 8px;
    cursor: pointer;
}